
h1 {
  font-style: italic;
  font-family:Papyrus;
  font-size: 60px;
  color: black;
}
p1 {
  font-size: 80px;
  padding: 0;
  font-family:Papyrus
}

nav{
  margin-bottom:40px;
}

a.nav-link{
  font-size:20px;
  width: 150px;
  height: 40px;
  line-height:30px;
  text-align: center;
  margin-right: 10px;
  font-family: cursive;
}

ul li a:hover{
  background-color: black;
}


p{
  font-family:Papyrus;
  font-size: 40px;
  margin:10%

}


.fa {
  padding: 15px;
  font-size: 20px;
  width: 60px;
  text-align:center;
  text-decoration: none;
  border-radius: 80%;
  margin: 5px 5px;
  margin-top:80px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
